.horizontal-line{
    display: flex;
    flex-direction: row;
}
.values{
    display: flex;
    flex-direction: row;
}
.bar{
    height: 7px;
}
.pos{
    height: 10px;
    border-radius: 3px;
}
.route-option{
    border: 1px solid black;
    padding: 10px;

}
.info{
    padding-bottom: 10px;
}